# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java/library/datafaker/datafaker-example/.idea
/java/library/guava/guava-memoization-example/.idea
/java/library/guava/guava-memoization-example/target
/java/library/guava/guava-memoization-example/.flattened-pom.xml
/java/library/guava/guava-cache-example/target
/java/misc/jbang-example/.vscode
/java/misc/jbang-example/target
/java/library/guava/.vscode
/java/misc/jbang-example/src/main/script/output/westeros_houses.csv
/java/algorithm/.vscode
/java/algorithm/binary-tree/.flattened-pom.xml
/java/algorithm/binary-tree/target
